{# On commence toujours par extends notre base #}

{% extends 'base.html.twig' %}

{%  block title %}
    contact !
{% endblock %}

{% block body  %}
    <h1> Ceci est la page contact</h1>
{% endblock %}

