{# On commence toujours par extends notre base #}

{% extends 'base.html.twig' %}

{%  block title %}
    {# Grace à la fonction "parent" on re affiche le titre de base sur le template base.html.twig #}
    {{ parent() }} contact !
{% endblock %}

{% block body  %}
    <h1> Ceci est la page contact</h1>
{% endblock %}

